header{
    background-color: $color-3;
    background-image: url("../img/img-fondo.webp");
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    img{
        width: 170px;
        height: 170px;
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 5px 7px 10px 7px;
                a{
                    text-decoration: none;
                    &:hover{
                        color: $color-2;
                    }
                }
            }
        }
    }
}
.barra{
        ul{
            li{
                a{
                    color: $color-1;
                    letter-spacing: 0,05cm;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 4px;
                }
            }
        }   
}
.hero{
    width: 100%;
    height: 500px;
    background-image: url(../img/img-presentacion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    div{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: $color-3;
            background-color: $color-7;
            font-family: cursive;
            font-family: "Bitter", serif;
            font-weight:350;
            font-size: 80px;
            border-radius: 50px;
            padding: 1%;
        }
        .boton-a{
            background-color: $color-2;
            color: $color-3;
            font-size: 20px;
            font-family:Arial, Helvetica, sans-serif;
            font-style:normal;
            font-weight: 500;
            text-decoration: none;
            padding: 15px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 20px;
            margin-top: 9%;
            transition-property: all;
            transition-duration: 1s;
            &:hover{
                background-color: $color-3;
                color: $color-2;
            }
        }
        p{
            background-color: $color-3;
            color: $color-1;
            font-size: 27px;
            font-family: impact, sans-serif;
            font-style: italic;
            font-weight: normal;
            margin-top: 6%;
            border-radius: 50px;
            padding: 8px;
        }
    }
}