.terapia{
    background-image: url("../img/img-fondo-bluesnow.webp");
    background-attachment: fixed;
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    div{
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        h2{
            font-size: nth ($font-size,5);
            font-weight: normal;
            color: $color-4;
            margin: 15px;
        }
        p{
            background-color: $color-3;
            font-weight: lighter;
            font-size: nth ($font-size,2);
            word-spacing: 2px;
            margin-bottom: 20px;
            text-align: justify;
            padding: 15px;
            margin-right: 20%;
            &::first-letter{
                font-size: nth ($font-size,6);
            }
        }
    }
    div{
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        img{
            width: 315px;
            height: 450px;
            margin-left: 20%;
            border-radius: 20px;
            padding: 10px;
        }
    }
}
.porque-terapia{
    background-image: url("../img/img-fondo-bluesnow.webp");
    background-attachment: fixed;
    display: flex;
    margin: 30px;
    div{
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        h2{
            font-size: nth ($font-size,5);
            font-weight: normal;
            color: $color-4;
            margin: 15px;
            text-align: center;
        }
        p{
            background-color: $color-3;
            font-weight: lighter;
            font-size: nth ($font-size,2);
            word-spacing: 2px;
            margin-bottom: 20px;
            text-align: justify;
            padding: 15px;
            &::first-letter{
                font-size: nth ($font-size,6);
            }
        }
    }
    img{
        width: 634px;
        height: 500px;
        margin-top: 7%;
        border-radius: 20px;
        padding: 10px;
    }
}
.esperar-terapia{
    background-image: url("../img/img-fondo-bluesnow.webp");
    background-attachment: fixed;
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    div{
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        h2{
            font-size: nth ($font-size,5);
            font-weight: normal;
            color: $color-4;
            margin: 15px;
            text-align: center;
        }
        p{
            background-color: $color-5;
            font-weight: lighter;
            font-size: nth ($font-size,2);
            word-spacing: 2px;
            margin-bottom: 20px;
            text-align: justify;
            padding: 15px;
            &::first-letter{
                font-size: nth ($font-size,6);
            }
        }
    }
    img{
        width: 634px;
        height: 500px;
        margin-top: 9%;
        border-radius: 20px;
        padding: 10px;
    }
}
.grid-palabras{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin-bottom: 2%;
    div{
        img{
            width: 100%;
            height: 100%;
            padding: 5px;
            justify-self: center;
        }
    }
}
.servicios{
    background-image: url("../img/img-fondo-bluesnow.webp");
    background-attachment: fixed;
    padding: 20px;
    padding-bottom: 7%;
    padding-top: 3%;
    h2{
        text-align: center;
    }
    .servicios-psico{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div{
            border: 1px solid $color-6;
            width: 350px;
            height: 400px;
            text-align: center;
            margin: 20px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            h3{
                color: $color-4;
                font-size: nth ($font-size,7);
                padding-bottom: 20px;
                font-weight: 600;
            }
            img{
                width: 340px;
                height: auto;
                padding-bottom: 20px;
                border-radius: 15px;
            }
        }
    }
}
.foto{
    height: 500px;
    background-image: url("../img/img-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* PERFIL */

main{
    .perfil-titulo{
        font-size: nth ($font-size,5);
        font-weight: normal;
        color: $color-4;
        margin: 15px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        border-radius: 25px;
        background-image: url(../img/img-fondo-bluesnow.webp);
    }
    .perfil-jenni{
        background-image: url("../img/img-fondo-bluesnow.webp");
        background-attachment: fixed;
        margin: 30px;
        div{
            width: 50%;
            justify-content: center;
            align-items: center;
            padding: 15px;
            h2{
            }
            p{
                background-color: $color-3;
                font-weight: lighter;
                font-size: nth ($font-size,2);
                word-spacing: 2px;
                margin-bottom: 15px;
                text-align: justify;
                padding: 15px;
                margin-right: 20%;
                margin-left: 6%;
                width: 130%;
                border-radius: 20px;
                &::first-letter{
                    font-size: nth ($font-size,6);
                }
            }
            img{
                width: 350px;
                margin-left: 145%;
                margin-top: -100%;
                border-radius: 20px;
                padding: 10px;
            }
        }
    }
}

/* TURNOS */

main{
    .turnos-titulo{
        font-size: nth ($font-size,5);
        font-weight: normal;
        color: $color-4;
        margin: 15px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        border-radius: 25px;
        background-image: url(../img/img-fondo-bluesnow.webp);
    }
    .turnos{
        background-image: url("../img/img-fondo-bluesnow.webp");
        background-attachment: fixed;
        display: flex;
        margin: 30px;
        flex-direction: row;
        div{
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 15px;
            form{
                align-content: center;
                div{
                    .btn-primary{
                        background-color: $color-2;
                        border: none;
                        color: $color-3;
                        font-weight: 700;
                        margin-left: 15%;
                    }
                }
            }
        }
    }
}

/* PREGUNTAS FRECUENTES */

main{
    .preguntas-titulo{
        font-size: nth ($font-size,5);
        font-weight: normal;
        color: $color-4;
        margin: 15px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        border-radius: 25px;
        background-image: url(../img/img-fondo-bluesnow.webp);
    }
    .preguntas-frecuentes{
        background-image: url("../img/img-fondo-bluesnow.webp");
        background-attachment: fixed;
        display: flex;
        margin: 30px;
        div{
            width: 100%;
            padding: 15px;
        }
    }
}

/* CONTACTO */

main{
    .contacto-titulo{
        font-size: nth ($font-size,5);
        font-weight: normal;
        color: $color-4;
        margin: 15px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        border-radius: 25px;
        background-image: url(../img/img-fondo-bluesnow.webp);
    }
    .contacto{
        background-image: url("../img/img-fondo-bluesnow.webp");
        background-attachment: fixed;
        display: flex;
        margin: 30px;
        flex-direction: row;
        div{
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 15px;
            .btn-primary{
                background-color: $color-2;
                border: none;
                color: $color-3;
                font-weight: 700;
                margin-left: 15%;
            }
        }
    }
}