/*VARIABLES*/
$color-1: black;
$color-2: skyblue;
$color-3: white;
$color-4: rgb(8, 158, 218);
$color-5: rgb(255, 255, 255);
$color-6: gray;
$color-7: rgba(0, 0, 0, 0.171);

/*LISTAS*/

$font-size: 13px, 20px, 27px, 80px, 46px, 50px, 30px, 28px;

/* EXTENDS */

%center{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
%boton{
    text-decoration: none;
    font-weight: 600;
    border: 2px;
    padding: 12px;
    border-radius: 20px;
}

/* MIXIN */

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}